<% if comment.user.first_name.blank? && comment.user.last_name.blank? %>
  <%= comment.user.email %>
<% else %>
  <%= comment.user.first_name %> <%= comment.user.last_name %>
<% end %>
  <% if comment.user_id == @article.user_id %>
    <span>(author)</span>
  <% end %>
    :
  <span><%= simple_format(comment.body) %></span>
<% if user_signed_in? && current_user.id == comment.user_id %>
  <%= link_to 'Delete comment', [comment.article, comment], class: 'delete-link', title: 'Удалить комментарий', data: { turbo_method: :delete } %>
<% end %>
</p>
